# Tablero de interruptores de 8 bits
set_io peaton_1 24 # 7
set_io peaton_2 23 # 6
set_io emergencia_1 22 # 5
set_io emergencia_2 21 # 4
#set_io A[3] 16 # 3
#set_io A[2] 15 # 2
#set_io A[1] 12 # 1
set_io nreset 11 # 0

# Display de siete segmentos
set_io cruce_peaton_2 124 # dp
set_io cruce_peaton_1 134 # g
set_io amarillo_1 129 # f
set_io verde_1 135 # e
set_io rojo_2 130 # d
set_io amarillo_2 128 # c
set_io verde_2 122 # b
set_io rojo_1 125 # a

# LEDS
set_io confirmacion_peaton_1 4
set_io confirmacion_peaton_2 3
set_io confirmacion_emergencia_1 2
set_io confirmacion_emergencia_2 1

# Reloj 12 MHz
set_io clk 94